services:

  filebrowser:
    image: gtstef/filebrowser:latest
    container_name: filebrowser
    restart: unless-stopped
    ports:
      - "8200:80"
    environment:
      - TZ=Europe/Madrid
    volumes:
      - ./config.yaml:/filebrowser-quantum/data/config.yaml
      - ./data:/filebrowser-quantum/data
      - ./share:/share

  onlyoffice:
    image: onlyoffice/documentserver:latest
    ports:
      - "8080:80"
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET=TevrjpRNMmKC0JxAwY7iZ2VXLrvG1gue
    restart: unless-stopped


