services:

  filebrowser:
    image: gtstef/filebrowser:latest
    container_name: filebrowser
    restart: unless-stopped
    ports:
      - "8200:80"
    environment:
      - TZ=Europe/Madrid
      - FILEBROWSER_ONLYOFFICE_SECRET=TevrjpRNMmKC0JxAwY7iZ2VXLrvG1gue
    volumes:
      - ./config.yaml:/home/filebrowser/config.yaml
      - ./data:/data
      - ./share:/share
      - ./data:/home/filebrowser/data

  onlyoffice:
    image: onlyoffice/documentserver:latest
    container_name: onlyoffice 
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET=TevrjpRNMmKC0JxAwY7iZ2VXLrvG1gue
